/****************************************************************************


spf4wc.RC

produced by Borland Resource Workshop


*****************************************************************************/

#define IDM_MENU1       1
#define IDB_BITMAP1     1
#define ACCELERATORS_1  1
#define IDI_ICON1       1
#define cmdInclude           211
#define cmdDbgInclude        212
#define cmdRunScript         213
#define cmdBYE               214
#define CtrlTAB              215
#define cmdCUT               221
#define cmdCOPY              222
#define cmdPASTE             223
#define cmdDBG               231
#define cmdGO                232
#define cmdSTEP              233
#define cmdOVER              234
#define cmdOUT               235
#define cmdSTOP              236
#define cmdDotS              237
#define cmdDotR              238
#define cmdRefreshFavorites  241
#define cmdLOG               251
#define cmdCASEINS           252
#define cmdHELP              261
#define cmdRFL               270
#define IDS_MAIN_MENU         71
#define IDS_MAIN_MENU1        72
#define IDS_MAIN_MENU2        73
#define IDS_MAIN_MENU3        74
#define IDS_MAIN_MENU4        75
#define IDS_MAIN_MENU5        76

IDB_BITMAP1 BITMAP "Toolbar.bmp"


ACCELERATORS_1 ACCELERATORS 
{
 VK_F9, cmdGO,   VIRTKEY
 VK_F7, cmdSTEP, VIRTKEY
 VK_F8, cmdOVER, VIRTKEY
 VK_F6, cmdOUT,  VIRTKEY
 VK_TAB, CtrlTAB, VIRTKEY, CONTROL
}


IDI_ICON1 ICON "spf.ico"


IDM_MENU1 MENU
{
 POPUP "&File"
 {
  MENUITEM "&Included...",       cmdInclude
  MENUITEM "&Debug Included...", cmdDbgInclude
  MENUITEM SEPARATOR
  MENUITEM "&Run Script",        cmdRunScript
  MENUITEM SEPARATOR
  MENUITEM SEPARATOR
  MENUITEM "&BYE",               cmdBYE
 }

 POPUP "&Edit"
 {
  MENUITEM "Cu&t",   cmdCUT
  MENUITEM "&Copy",  cmdCOPY
  MENUITEM "&Paste", cmdPASTE
 }

 POPUP "&Debug"
 {
  MENUITEM "&Debug",    cmdDBG
  MENUITEM SEPARATOR
  MENUITEM "&Go\tF9",   cmdGO
  MENUITEM "S&tep\tF7", cmdSTEP
  MENUITEM "&Over\tF8", cmdOVER
  MENUITEM "O&ut\tF6",  cmdOUT
  MENUITEM SEPARATOR
  MENUITEM ".&S",       cmdDotS
  MENUITEM ".&R",       cmdDotR
 }

 POPUP "F&avorites"
 {
  MENUITEM "&Refresh Favorites", cmdRefreshFavorites
  MENUITEM SEPARATOR
 }

 POPUP "&Options"
 {
  MENUITEM "&Log",      cmdLOG
  MENUITEM "&Case Ins", cmdCASEINS
 }

 POPUP "&Help"
 {
  MENUITEM "&REQUIRE HELP", cmdHELP
 }

}


STRINGTABLE
{
 200+cmdInclude,     "Included"
 200+cmdDbgInclude,  "Debug Included"
 200+cmdCASEINS,     "Case sensitivity status"
 200+cmdLOG,         "Log status"
 200+cmdDBG,         "Debug status"
 200+cmdGO,          "Go - F9"
 200+cmdSTEP,        "Step - F7"
 200+cmdOVER,        "Over - F8"
 200+cmdOUT,         "Out - F6"
 200+cmdDotS,        "Print data stack"
 200+cmdDotR,        "Print return stack"
 200+cmdRunScript,   "Run code in script window"

 cmdInclude          "Opening the existing file and iterpret it"
 cmdDbgInclude       "Opening the existing file and iterpret it in debug mode"
 cmdRunScript        "Interpret code from the RunScript window"
 cmdBYE              "Quits SPF"
 cmdCUT              "Removes the selection and places it onto the Clipboard"
 cmdCOPY             "Copies the selection onto the Clipboard"
 cmdPASTE            "Pastes the contents of the Clipboard"
 cmdDBG              "Switching in\\from the debug mode"
 cmdGO               "Exit from the debug mode. To continue execution of the debugged program"
 cmdSTEP             "One step into word"
 cmdOVER             "One step over word"
 cmdOUT              "Steps out of the current word"
 cmdDotS             "Print the data stack"
 cmdDotR             "Print the return stack"
 cmdRefreshFavorites "Refreshing the favorites submenu from ini-file"
 cmdLOG              "Switching on\\off log-file"
 cmdCASEINS          "Switching on\\off case sensitivity"
 cmdHELP             "Including fhlp-files"
 IDS_MAIN_MENU       "Interpret codes or quit program"
 IDS_MAIN_MENU1      "Cut, copy and paste"
 IDS_MAIN_MENU2      "Debug commands and print stacks"
 IDS_MAIN_MENU3      "User-configurable menu"
 IDS_MAIN_MENU4      "Tuning spf4wc"
 IDS_MAIN_MENU5      "Displays help on sp-forth"
}
